@model DynamicFieldsDemo.Code.ViewModels.DropdownFieldViewModel
@using DynamicFieldsDemo.Code.MvcExtensions

<div class="form-group">
    @Html.Label(Model.FieldMetadata.Label, Model.FieldMetadata.Label, new { @class = "col-md-2" })
    <div class="col-md-10">
        @Html.DropdownListWithCustomValidation(Model, new { @class = "form-control" })
        @Html.ValidationMessage(Model.FieldMetadata.Key, "", new { @class ="text-danger" })
    </div>
</div>
