@model DynamicFieldsDemo.Code.ViewModels.DropdownFieldViewModel

<div class="col-sm-6">
    <label>@Model.Label</label>
    <div class="input-group input-group-lg">
        @Html.DropDownList(Model.Key, Model.SelectListItems)

@*        @Html.ValidationMessage(Model.Key, Model.ValidationMsg);*@

    </div>
</div>
