@using System.Web.Mvc.Html
@model DynamicFieldsDemo.Code.ViewModels.DynamicFormViewModel


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Registration form</h2>

@using( Html.BeginForm("Post", "RegForm", FormMethod.Post))
{ 
	<div class="form-horizontal">
		@Html.Hidden("formId", Model.FormId)

		@foreach (var field in Model.FieldViewModels) 
		{ 
			@Html.Partial(field.ViewName, field);
		}
		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<input type="submit" class="btn btn-block btn-primary" /> 
			</div>
		</div>
	</div>

}





