@using System.Web.Mvc.Html
@model DynamicFieldsDemo.Code.ViewModels.DynamicFormViewModel


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Registration form</h2>

@using( Html.BeginForm("Post", "RegForm", FormMethod.Post))
{ 
	@Html.Hidden("formId", Model.FormId)

    <div class="container">
        @foreach (var field in Model.FieldViewModels) 
        { 
            @Html.Partial(field.ViewName, field);
        }
        <div class="col-sm-12">
            <input type="submit" class="btn btn-block btn-primary" /> 
        </div>
    </div>

}





