@model DynamicFieldsDemo.Code.ViewModels.TextFieldViewModel

<div class="col-sm-6">
    <label>@Model.Label</label>
    <div class="input-group input-group-lg">
        @Html.TextBoxFor(m => m.Value);
        @Html.ValidationMessageFor(m => m.Value, "Field not valid");
    </div>
</div>