@model DynamicFieldsDemo.Code.ViewModels.TextFieldViewModel
@using DynamicFieldsDemo.Code.MvcExtensions

<div class="col-sm-6">
    <label>@Model.FieldMetadata.Label</label>
    <div class="input-group input-group-lg">
        @Html.EditorWithCustomValidation(Model)
        @Html.ValidationMessage(Model.FieldMetadata.Key)
    </div>
</div>